 .u-section-1 {
  min-height: 389px;
}

.u-section-1 .u-image-1 {
  height: 180px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 2.25rem;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  margin: 29px calc(((100% - 1140px) / 2) + 227px) 0 calc(((100% - 1140px) / 2) + 235px);
}

.u-section-1 .u-text-2 {
  line-height: 2;
  font-style: italic;
  font-size: 0.875rem;
  font-weight: 400;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 11px calc(((100% - 1140px) / 2) + 135px) 46px calc(((100% - 1140px) / 2) + 206px);
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 678px;
    margin-left: calc(((100% - 1140px) / 2) + 231px);
    margin-right: calc(((100% - 1140px) / 2) + 231px);
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: calc(((100% - 1140px) / 2) + 252px);
    margin-left: calc(((100% - 1140px) / 2) + 320px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 417px;
  }

  .u-section-1 .u-image-1 {
    height: 145px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 44px;
    margin-left: 71px;
    margin-right: 71px;
  }

  .u-section-1 .u-text-2 {
    margin: 27px calc(((100% - 720px) / 2) + 80px) 50px calc(((100% - 720px) / 2) + 21px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 29px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.75rem;
    width: 483px;
    margin: 29px auto 46px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 440px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    margin-top: 27px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    margin-top: 27px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 361px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 2.25rem;
  margin: 44px auto 0;
}

.u-section-2 .u-text-2 {
  width: 760px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 0.875rem;
  margin: 32px auto 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  align-self: center;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  margin: 59px auto;
  padding: 14px 36px 14px 35px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-btn-1 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 399px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 68px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 43px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 68px;
    margin-bottom: 54px;
    margin-left: 231px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 420px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 44px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 51px;
    margin-left: auto;
    margin-bottom: 59px;
    padding: 15px 40px 16px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 395px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.75rem;
  }

  .u-section-2 .u-btn-1 {
    font-size: 0.875rem;
    margin-bottom: 35px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 589px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: 60px auto 60px -3px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 469px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 93px auto 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1rem;
  margin: 20px auto 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 469px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  height: 320px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-3 {
  font-size: 1rem;
  margin: 30px auto 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  font-size: 1rem;
  padding: 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 469px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-list-1 {
  margin-bottom: 0;
  margin-top: 84px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 231px;
  grid-gap: 0px 0px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 10px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 17px 0 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-5 {
  padding: 10px;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  margin: 17px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 507px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 387px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 387px;
  }

  .u-section-3 .u-image-1 {
    height: 253px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 387px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 321px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 22px;
    margin-bottom: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 269px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 25px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1rem;
    width: auto;
    margin-top: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 23px;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 269px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 15px;
  }

  .u-section-3 .u-image-1 {
    height: 180px;
    margin-top: 11px;
  }

  .u-section-3 .u-text-3 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 17px;
  }

  .u-section-3 .u-btn-1 {
    font-size: 0.625rem;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 269px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 13px;
    padding-bottom: 24px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 1px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 483px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 520px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    height: 320px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1244px;
}

.u-section-4 .u-btn-1 {
  border-style: double;
  margin-top: 45px;
  margin-bottom: 0;
  font-size: 2.25rem;
  padding: 0;
}

.u-section-4 .u-list-1 {
  margin-top: 20px;
  margin-bottom: 60px;
  grid-template-rows: auto auto;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 14px) calc(33.3333% - 14px) calc(33.3333% - 14px);
  grid-gap: 21px 21px;
  min-height: 975px;
}

.u-section-4 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 30px 8px;
}

.u-section-4 .u-text-1 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
  font-size: 1.25rem;
}

.u-section-4 .u-line-1 {
  height: 4px;
  transform-origin: left center;
  margin: 20px auto 0 0;
}

.u-section-4 .u-image-1 {
  width: 305px;
  height: 170px;
  margin: 30px auto 0 0;
}

.u-section-4 .u-text-2 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
  font-size: 0.75rem;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 157px;
  height: 42px;
  margin: 20px auto 0 0;
}

.u-section-4 .u-list-item-2 {
  background-size: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 30px 8px;
}

.u-section-4 .u-text-3 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
  font-size: 1.25rem;
}

.u-section-4 .u-line-2 {
  height: 4px;
  transform-origin: left center;
  margin: 20px auto 0 0;
}

.u-section-4 .u-image-2 {
  width: 305px;
  height: 170px;
  margin: 30px auto 0 0;
}

.u-section-4 .u-text-4 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
  font-size: 0.75rem;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 157px;
  height: 42px;
  margin: 20px auto 0 0;
}

.u-section-4 .u-list-item-3 {
  background-size: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 30px 8px;
}

.u-section-4 .u-text-5 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
  font-size: 1.25rem;
}

.u-section-4 .u-line-3 {
  height: 4px;
  transform-origin: left center;
  margin: 20px auto 0 0;
}

.u-section-4 .u-image-3 {
  width: 305px;
  height: 170px;
  margin: 30px auto 0 0;
}

.u-section-4 .u-text-6 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
  font-size: 0.75rem;
}

.u-section-4 .u-btn-4 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 157px;
  height: 42px;
  margin: 20px auto 0 0;
}

.u-section-4 .u-list-item-4 {
  background-size: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 30px 8px;
}

.u-section-4 .u-text-7 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-4 .u-line-4 {
  height: 4px;
  transform-origin: left center;
  margin: 20px auto 0 0;
}

.u-section-4 .u-image-4 {
  width: 305px;
  height: 170px;
  margin: 30px auto 0 0;
}

.u-section-4 .u-text-8 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
  font-size: 0.75rem;
}

.u-section-4 .u-btn-5 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 157px;
  height: 42px;
  margin: 20px auto 0 0;
}

.u-section-4 .u-list-item-5 {
  background-size: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 30px 8px;
}

.u-section-4 .u-text-9 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
  font-size: 1.25rem;
}

.u-section-4 .u-line-5 {
  height: 4px;
  transform-origin: left center;
  margin: 20px auto 0 0;
}

.u-section-4 .u-image-5 {
  width: 305px;
  height: 170px;
  margin: 30px auto 0 0;
}

.u-section-4 .u-text-10 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
  font-size: 0.75rem;
}

.u-section-4 .u-btn-6 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 157px;
  height: 42px;
  margin: 20px auto 0 0;
}

.u-section-4 .u-list-item-6 {
  background-size: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px 30px 8px;
}

.u-section-4 .u-text-11 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
  font-size: 1.25rem;
}

.u-section-4 .u-line-6 {
  height: 4px;
  transform-origin: left center;
  margin: 20px auto 0 0;
}

.u-section-4 .u-image-6 {
  width: 305px;
  height: 170px;
  margin: 30px auto 0 0;
}

.u-section-4 .u-text-12 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
  font-size: 0.75rem;
}

.u-section-4 .u-btn-7 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 157px;
  height: 42px;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    min-height: 583px;
  }

  .u-section-4 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    height: 135px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-2 {
    height: 135px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-line-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-3 {
    height: 135px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-line-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-4 {
    height: 135px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-line-5 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-5 {
    height: 135px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-line-6 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-6 {
    height: 135px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1382px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 0;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 10.5px) calc(50% - 10.5px);
    min-height: 1255px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 7px;
  }

  .u-section-4 .u-text-1 {
    font-size: 0.875rem;
  }

  .u-section-4 .u-image-1 {
    height: 160px;
    margin-top: 5px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 13px;
    margin-right: 0;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 13px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 7px;
  }

  .u-section-4 .u-text-3 {
    font-size: 0.875rem;
  }

  .u-section-4 .u-image-2 {
    height: 160px;
    margin-top: 5px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 13px;
    margin-right: 0;
  }

  .u-section-4 .u-btn-3 {
    margin-top: 13px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-bottom: 7px;
  }

  .u-section-4 .u-text-5 {
    font-size: 0.875rem;
  }

  .u-section-4 .u-image-3 {
    height: 160px;
    margin-top: 5px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: 13px;
    margin-right: 0;
  }

  .u-section-4 .u-btn-4 {
    margin-top: 13px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-bottom: 7px;
  }

  .u-section-4 .u-text-7 {
    font-size: 0.875rem;
  }

  .u-section-4 .u-image-4 {
    height: 160px;
    margin-top: 5px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-top: 13px;
    margin-right: 0;
  }

  .u-section-4 .u-btn-5 {
    margin-top: 13px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-bottom: 7px;
  }

  .u-section-4 .u-text-9 {
    font-size: 0.875rem;
  }

  .u-section-4 .u-image-5 {
    height: 160px;
    margin-top: 5px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-10 {
    width: auto;
    margin-top: 13px;
    margin-right: 0;
  }

  .u-section-4 .u-btn-6 {
    margin-top: 13px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-bottom: 7px;
  }

  .u-section-4 .u-text-11 {
    font-size: 0.875rem;
  }

  .u-section-4 .u-image-6 {
    height: 160px;
    margin-top: 5px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-12 {
    width: auto;
    margin-top: 13px;
    margin-right: 0;
  }

  .u-section-4 .u-btn-7 {
    margin-top: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-btn-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-line-1 {
    transform-origin: left center 0px;
    margin-top: 9px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    height: 191px;
    width: 406px;
    margin-top: 9px;
    margin-right: auto;
    margin-left: 29px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-4 .u-line-2 {
    transform-origin: left center 0px;
    margin-top: 9px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-2 {
    height: 191px;
    width: 406px;
    margin-top: 9px;
    margin-right: auto;
    margin-left: 29px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 20px;
  }

  .u-section-4 .u-line-3 {
    transform-origin: left center 0px;
    margin-top: 9px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-3 {
    height: 191px;
    width: 406px;
    margin-top: 9px;
    margin-right: auto;
    margin-left: 29px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 20px;
  }

  .u-section-4 .u-line-4 {
    transform-origin: left center 0px;
    margin-top: 9px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-4 {
    height: 191px;
    width: 406px;
    margin-top: 9px;
    margin-right: auto;
    margin-left: 29px;
  }

  .u-section-4 .u-text-8 {
    margin-top: 20px;
  }

  .u-section-4 .u-line-5 {
    transform-origin: left center 0px;
    margin-top: 9px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-5 {
    height: 191px;
    width: 406px;
    margin-top: 9px;
    margin-right: auto;
    margin-left: 29px;
  }

  .u-section-4 .u-text-10 {
    margin-top: 20px;
  }

  .u-section-4 .u-line-6 {
    transform-origin: left center 0px;
    margin-top: 9px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-6 {
    height: 191px;
    width: 406px;
    margin-top: 9px;
    margin-right: auto;
    margin-left: 29px;
  }

  .u-section-4 .u-text-12 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-1 {
    height: 151px;
    width: 320px;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-2 {
    height: 151px;
    width: 320px;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-3 {
    height: 151px;
    width: 320px;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-4 {
    height: 151px;
    width: 320px;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-5 {
    height: 151px;
    width: 320px;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-6 {
    height: 151px;
    width: 320px;
    margin-left: 0;
  }
}